body {
	background: #164b75;
}

header {
	background-color: #ffffff;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#55a0db),color-stop(85%, #164b75), to(#083559) );
	background-image: -webkit-linear-gradient(#55a0db, #164b75 85%, #55a0db);
	background-image: -moz-linear-gradient(top, #55a0db, #164b75 85%, #083559);
	background-image: -o-linear-gradient(#55a0db, #164b75 85%, #083559);
	background-image: linear-gradient(#55a0db, #164b75 85%, #083559);
	padding: 0px 10px;
}

footer {
	background: #3173a8;
}

.dashboard-wrapper-lg {
	background: #e6e6e6;
	/*	border: #ED1B23 1px solid;
	border-top: #b5141a 1px solid;*/
}

#cssmenu>ul>li {
	background-color: #C2E6F6;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#55a0db),color-stop(85%, #164b75), to(#083559) );
	background-image: -webkit-linear-gradient(#55a0db, #164b75 85%, #083559);
	background-image: -moz-linear-gradient(top, #55a0db, #164b75 85%, #083559);
	background-image: -o-linear-gradient(#55a0db, #164b75 85%, #083559);
	background-image: linear-gradient(#55a0db, #164b75 85%, #083559);
}

#cssmenu>ul>li a {
	color: white;
}

#cssmenu>ul>li:hover {
	background: #b5141a;
}

#cssmenu>ul>li:hover a {
	font-size: 17px;
	padding: 14px 4px;
}

#cssmenu>ul>li.active {
	background: #b5141a;
}

#cssmenu>ul>li.active:hover {
	background: #b5141a;
}

@media all and (max-width: 768px) , only screen and
		(-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px) , only
		screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px) ,
		only screen and (-o-min-device-pixel-ratio: 2 / 1) and (max-width:
		1024px) , only screen and (min-device-pixel-ratio: 2) and (max-width:
		1024px) , only screen and (min-resolution: 192dpi) and (max-width:
		1024px) , only screen and (min-resolution: 2dppx) and (max-width:
	1024px) {
	#cssmenu {
		background-color: #ED1B23;
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ED1B23),
			color-stop(85%, #e21a21), to(#b5141a) );
		background-image: -webkit-linear-gradient(#ED1B23, #e21a21 85%, #b5141a)
			;
		background-image: -moz-linear-gradient(top, #ED1B23, #e21a21 85%, #b5141a)
			;
		background-image: -o-linear-gradient(#ED1B23, #e21a21 85%, #b5141a);
		background-image: linear-gradient(#ED1B23, #e21a21 85%, #b5141a);
	}
}

.sub-nav {
	background-color: #ED1B23;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ED1B23),color-stop(85%, #ED1B23), to(#ED1B23) );
	background-image: -webkit-linear-gradient(#ED1B23, #ED1B23 85%, #ED1B23);
	background-image: -moz-linear-gradient(top, #ED1B23, #ED1B23 85%, #ED1B23);
	background-image: -o-linear-gradient(#ED1B23, #ED1B23 85%, #ED1B23);
	background-image: linear-gradient(#ED1B23, #ED1B23 85%, #ED1B23);
}

.widget {
	border: 1px solid #ccc;
}

.widget .widget-header {
	background-color: #C2E6F6;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff),color-stop(50%, #ccc), to(#fff) );
	background-image: -webkit-linear-gradient(#fff, #ccc 50%, #fff);
	background-image: -moz-linear-gradient(top, #fff, #ccc 50%, #fff);
	background-image: -o-linear-gradient(#fff, #ccc 50%, #fff);
	background-image: linear-gradient(#fff, #ccc 50%, #fff);
}

.widget .widget-header .title {
	color: #000;
}

.widget .widget-header .title .attribution,.widget .widget-header .title .mini-title{
	color: #000;
}
.widget .widget-body {
	border-bottom: 1px solid #ccc;
}
.nav-tabs {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ff7474),to(#ff7474) );
	background-image: -webkit-linear-gradient(top, #ff7474, #ff7474);
	background-image: -moz-linear-gradient(top, #ff7474, #ff7474);
	background-image: -ms-linear-gradient(top, #ff7474, #ff7474);
	background-image: -o-linear-gradient(top, #ff7474, #ff7474);
	background-image: linear-gradient(top, #ff7474, #ff7474);
}
}