<?xml version="1.0" encoding="UTF-8"?>
<!-- Web另配 -->
<config>
	<servers>
		<server>
			<id>1</id>
			<host>localhost</host>
			<group>g1</group>
			<port>6868</port>
			<redisConfigId>1</redisConfigId>
		</server>
		<server>
			<id>2</id>
			<host>localhost</host>
			<group>g1</group>
			<state>0</state>
			<port>6869</port>
			<redisConfigId>1</redisConfigId>
		</server>
		<server>
			<id>10</id>
			<host>localhost</host>
			<group>g2</group>
			<state>0</state>
			<port>7878</port>
			<redisConfigId>2</redisConfigId>
		</server>
		<server>
			<id>20</id>
			<host>localhost</host>
			<group>g2</group>
			<state>0</state>
			<port>7879</port>
			<redisConfigId>2</redisConfigId>
		</server>
	</servers>
	<webs>
		<web>
			<id>1</id>
			<name>大陆地区</name>
			<domain>localhost</domain>
			<serverGroup>g1</serverGroup>
		</web>
		<web>
			<id>2</id>
			<name>海外地区</name>
			<domain>127.0.0.1</domain>
			<serverGroup>g2</serverGroup>
		</web>
	</webs>
	<dnses>
		<dns>
			<domain>localhost</domain>
			<name>域名解析配置1</name>
			<serverGroup>g1</serverGroup>
		</dns>
		<dns>
			<domain>127.0.0.1</domain>
			<name>域名解析配置2</name>
			<serverGroup>g2</serverGroup>
		</dns>
	</dnses>
	<redises>
		<redis>
			<id>1</id>
			<host>localhost</host>
			<port>6379</port>
			<maxIdle>5</maxIdle>
		</redis>
		<redis>
			<id>2</id>
			<host>localhost</host>
			<port>6389</port>
			<maxIdle>5</maxIdle>
		</redis>
	</redises>
</config>

